* { box-sizing: border-box;
}
    
html { height:auto;
}
  
body { background-image: url("crypto.png"); background-color: black; background-size: 125%;
      text-align: center; color: rgb(253, 253, 253); font-size: 24px;
}
  
h1 { font-size: 2em; width: 100%; background-color: rgb(0, 0, 0);
}
  
button { padding:10px; margin:3px; width: auto;
}  

.container { text-align: center; padding : 20px; width:300px; height: 250px;
}
  
#word { padding:5px; margin:5px; color: rgb(0, 0, 0); background-color: white;
}

.hold { width:100%;
}
  
#instructs { padding:10px; margin:3px; width: auto;
}

button:hover,
button:focus {
      color:grey;
      background-color:black;
}
